html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  --app-grid-template-areas: 'header header header' 'nav main aside'
    'nav footer aside';
  --app-grid-template-rows: auto 1fr auto;
  --app-grid-template-columns: auto 1fr auto;
}
